# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.exe.*
*.out
*.app
*.i*86
*.x86_64
*.hex
bin/server
bin/performance.txt

bin/server
bin/manager
bin/server
bin/server